<ion-grid>
  <ion-row justify-content-center>
    <ion-col size="12" size-md="8">
      <ion-card>
        <ion-item lines="full" color="light">
          <ion-icon slot="start" size="large" color="primary" name="information-circle-outline"></ion-icon>
          <ion-label text-wrap>
            OpenEMS UI
            <ion-card-subtitle translate>About.UI</ion-card-subtitle>
          </ion-label>
        </ion-item>

        <ion-card-content text-wrap>
          <p translate>About.Developed</p>
          <ul>
            <li>
              <a target="_blank" href="https://openems.io" translate>About.OpenEMS</a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/releases/tag/2019.6.0">
                <span translate>About.Build</span>: 2019.6.0 (2019-07-04)</a>
            </li>
            <!-- <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/tree/develop">
                <span translate>About.Build</span>: 2019.7.0-SNAPSHOT</a>
            </li> -->
          </ul>
          <p>
            <span [innerHTML]="'About.Contact' | translate:{value: 'info@openems.io'}"></span>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>